/*
    GreenICT - VEP 
    veppilaskuri StyleSheet.css

*/
html {
    height: 100%;
}
body {
    background-color: #000;
    font-family: Helvetica, Arial, sans-serif;
    color: #121212;
    min-height: 100%;
}
img {

}
header {
    height: 150px;
}
p {
    font-size: 20px;
    text-align: justify;
}
h1 {
    display: inline;
    font-size: 50px;
    font-weight: bold;
}
footer {
    clear: both;
    text-align: center;
}
.ohje {
    display: none;
}
#title {
    text-align: center;
}
.result, #Lomake, #Ohjeita{
    padding: 10px;
    border: solid 2px #000;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: rgba(0,0,0,0.5) 3px 3px;
    background-color: #FFF;
    margin-bottom: 10px;
    min-height: 488px;
}
.image_weather{
    width: 100px;
    height: 100px;
}
.result {
    border: solid 2px #FFF;
}
.average {
    font-weight: bold;
}
.row{
    padding: 5px !important;
}
#result_graph{
    width: 90%; 
    height: 400px; 
    margin: auto;
    display: block;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

/* COLORS */
header {
    background-color: #4CBB17;
    color: #FFF;
}
#title {
    background-color: #71FF54;
    color: #FFF;
}
#results {
    background-color: #388E8E;
    min-height: 100%;
}
#result_graph{
    background-color: #FFF;
}
#main {
    background-color: #4CBB17;
}
#Lomake {
    background-color: antiquewhite;
}
#Ohjeita {
    background-color: antiquewhite;
}
footer {
    background-color: #000;
    color: #FFF;
}
/* /COLORS */